html, body {
	font-family: 'Heebo', sans-serif;
  	margin: 0;
  	padding: 0;
}
.error{
    color: red;
}
.header {
	position: sticky;
	top: 0;
	background-color: rgb(44, 44, 44);
	z-index: 1;
}
.header th {
	padding-left: 30px;
	font-size: 30;
	height: 50px;
}
.header a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	width: 100%;
	line-height: 50px;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
}
.header a:visited {
	color: rgb(255, 255, 255)
}
.header a:hover {
	background-color: #e0ad21;
}
.pageContent {
	padding-left: 20px;
}

img {
    width: 150px;
    height: 150px;
}

.menuTable {
	border: 1px solid black;
}